.app-component {
    /*width: 100vw;
    height: 100vh;*/
    &__top-header {
        h1 {
            border: 3px solid red;
            background-color: aliceblue;
            color: darkslategray;
        }
        ul {
            display: inline-block;
            background-color: #428bca;
        }
        li {
            list-style: none;

            &:hover {
                background-color: #31708f;
            }
        }
    }

    &__vertical-menu {
        height: 100vh;
        background-color: #eee;
        border: 3px solid red;
        a {
            background-color: #eee; /* Grey background color */
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */

            &:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }
            &:active {
                background-color: #4CAF50; /* Add a green color to the "active/current" link */
                color: white;
            }
        }
    }
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: chartreuse;
    height: 100vh;
    width: 100vw;

    &__user-input {
        margin: 20px auto;
        width: 20vw;
    }

    &__user-button {
        margin: 20px 45vw;
        width: 10vw;
    }

    &--hidden {
        display: none;
    }
}

